@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Create Your Account <br />
                    <span style="color: hsl(218, 81%, 75%)">Control Your Life</span>
                </h1><!--this is the headder, but its in the middle of the page with login info to the right of it-->
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    An account allows you to: ..... Fill this in laterrr
                </p> <!--this is a little bio section  -->
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">

                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                                        <label class="form-label" asp-for="Input.FirstName"></label>
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                                        <label class="form-label" asp-for="Input.LastName"></label>
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label class="form-label" asp-for=" Input.Email"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="PasswordInput" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label class="form-label" asp-for="Input.Password"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                <!-- Confirm Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="ConfirmPasswordInput" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <label class="col-md-6 mb-3 form-label" asp-for="Input.ConfirmPassword">Re-Enter Password</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    <!--Show Password button -->
                                    <label class="col-md-4 mb-3 form-label form-check-label" for="">Show Passwords?</label>
                                    <input class="form-check-input me-2" type="checkbox" onclick="ShowPasswordFunction()" />
                                </div>


                            </div>
                            <div>
                                <div>
                                    <!-- Submit button -->
                                    <button id="registerSubmit" type="submit" class=" w-100 btn btn-block btn-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*


<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"> --------------------------------------------------------------------------------------
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />--------------------------------------------------------------------------------------
                <label asp-for="Input.FirstName"></label>---------------------------------------------------------------------------------------------------------------------------------
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>--------------------------------------------------------------------------------------
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />--------------------------------------------------------------------------------------
                <label asp-for="Input.LastName"></label>--------------------------------------------------------------------------------------
                <span asp-validation-for="Input.LastName" class="text-danger"></span>--------------------------------------------------------------------------------------
            </div>

            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />------------------------------------------------------------------------------------
                <label asp-for="Input.Email"></label>------------------------------------------------------------------------------------
                <span asp-validation-for="Input.Email" class="text-danger"></span>------------------------------------------------------------------------------------
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />----------------------------------------------------------------------------
                <label asp-for="Input.Password"></label>----------------------------------------------------------------------------
                <span asp-validation-for="Input.Password" class="text-danger"></span>----------------------------------------------------------------------------
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />----------------------------------------------------------------
                <label asp-for="Input.ConfirmPassword"></label>----------------------------------------------------------------
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>----------------------------------------------------------------
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@